---
import Image from "astro/components/Image.astro"
import Aboutfoto from "../../public/images/amanecer.webp"
---
<section class="flex flex-col-reverse md:flex-row text-center gap-6 items-center" id="about">
    <Image class="rounded-3xl w-full md:w-1/2 md:h-96 shadow-xl" src={Aboutfoto} loading={'lazy'} alt="Fotografia de un amanecer en la playa"/>
    <article class="flex flex-col gap-6">
        <h2 class="text-3xl md:text-4xl font-bold">¿Quiénes Somos?</h2>
        <p>Aspiramos a ser el referente más confiable e innovador en la Riviera Maya, donde la información de calidad y la creatividad visual se unen para dar vida a historias que inspiran y conectan. Nuestra visión es liderar el futuro de la comunicación enel Caribe, estableciendo nuevas normas de excelencia en servicios informativos, publicidad y producciones audiovisuales que dejen una huella perdurable.</p>
        </article>
        
</section>