---
import Image from "astro/components/Image.astro"
import Aboutfoto from "../../public/images/amanecer.webp"
---
<section class="flex flex-col-reverse md:flex-row text-center gap-6 items-center">
    <Image class="rounded-3xl w-1/2 md:h-96 shadow-xl" src={Aboutfoto} loading={'eager'} alt="Fotografia de un amanecer en la playa"/>
    <article class="flex flex-col gap-6">
        <h2 class="text-3xl md:text-4xl font-bold">¿Quiénes Somos?</h2>
        <p>Zamá Studios nace de la fusión entre la tradición cultural de nuestra tierra y las más innovadoras técnicas audiovisuales. Nuestro nombre, que en maya significa “amanecer,” refleja nuestro compromiso de iluminar cada proyecto con una perspectiva fresca y creativa, llevando la luz a las ideas de nuestros clientes y haciendo que brillen en un mundo competitivo.</p>
        </article>
        
</section>