---
// Footer.astro
---
<footer class="bg-gray-800 text-white py-10 rounded-3xl" id="contacto">
    <div class="container mx-auto px-6 text-center">
      <h2 class="text-2xl font-bold mb-4">Cont치ctanos</h2>
      <p class="text-lg mb-6">
        쯃isto para que tu historia llegue m치s lejos? 游 Perm칤tenos ser tus socios en la creaci칩n de contenido que har치 destacar tu marca.
      </p>
      <p class="text-lg">
        Cont치ctanos hoy mismo al <a href="tel:+529997077303" class="underline hover:text-blue-400">游 9997077303</a> o escr칤benos a 
        <a href="mailto:acr@zamastudio.pro" class="underline hover:text-blue-400">九괦잺 acr@zamastudios.com.mx</a>.
      </p>
      <p class="text-lg mt-4">춰Estamos aqu칤 para llevar tu visi칩n al siguiente nivel!</p>
    </div>
  </footer>
  