---
// Footer.astro
---
<footer class="bg-gray-800 text-white py-10 rounded-3xl" id="contacto">
    <div class="container mx-auto px-6 text-center">
      <h2 class="text-2xl font-bold mb-4">Cont치ctanos</h2>
      <p class="text-lg mb-6">
        쯊ienes una denuncia o informaci칩n importante que quieras compartir? En Conexi칩n Caribe estamos comprometidos con la verdad y queremos escuchar lo que tienes que decir. Perm칤tenos ser tu voz.
      </p>
      <p class="text-lg">
        Escribenos al <a href="tel:+529997077303" class="underline hover:text-blue-400">游 9997077303</a> o env칤anos un correo a <a href="mailto:acr@conexioncariberivieramaya.com" class="underline hover:text-blue-400">九괦잺 acr@conexioncariberivieramaya.com</a>.
      </p>
      <p class="text-lg mt-4">춰Tu informaci칩n es valiosa para nosotros y ser치 tratada con la mayor confidencialidad!. <br> <span class="font-semibold">Estamos aqu칤 para hacer que tu historia cuente.</span></p>
    </div>
  </footer>
  