---
import Image from "astro/components/Image.astro";
import Headerfoto from "../../public/images/image.webp"

---
<section class="flex flex-col md:flex-row items-center gap-6 bg-[#9ed1db] p-16 rounded-3xl" >
    <article class="flex flex-col gap-5">
        <header class="w-full">
            <h1 class="text-4xl md:text-5xl text-center font-bold">Donde las historias cobran <span class="text-[#f3ede8]">vida</span></h1>
        </header>
        <p class="text-center">
            Nuestra misión es capturar y compartir las historias que definen a nuestra región, conectando comunidades y transformando ideas en experiencias visuales inolvidables. Somos más que una plataforma informativa; <span class="text-[#f3ede8]">somos la voz </span>que resuena con verdad y profundidad, ofreciendo servicios de publicidad y producciones audiovisuales que elevan las visiones de nuestros clientes a nuevas alturas.
        </p>
    </article>
    <Image class="rounded-3xl w-full md:w-1/2" src={Headerfoto} loading={"eager"} alt="Fotografia de una madre abrazando a un bebe en la playa">
</section>