---

---
<nav class="bg-white flex items-center justify-around h-20 rounded-full w-[90%] fixed  top-0 m-3 shadow-lg">
    <p class="font-semibold text-center text-2xl">Zamá Studios</p>
    <figure>
        <svg  xmlns="http://www.w3.org/2000/svg"  width="28"  height="28"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-menu"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8l16 0" /><path d="M4 16l16 0" /></svg>
    </figure>
</nav>