---
import video1 from '../../public/video/video1.mp4';
import video2 from '../../public/video/video2.mp4'
---
<section class="w-full text-center py-16 px-8 rounded-3xl text-white" id="servicios">
    <h2 class="text-3xl md:text-4xl font-bold text-black">Historias que definen a nuestra región</h2>
    <section class="grid justify-center grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 py-8">

        <article class="w-full">
            <video controls class="w-full max-w-md shadow-lg mb-4 hover:shadow-xl transition-shadow duration-200 rounded-3xl">
                <source src={video1} type="video/mp4" />
                Tu navegador no soporta la reproducción de videos.
              </video>
        </article>
        <article class="w-full">
            <video controls class="w-full max-w-md shadow-lg mb-4 hover:shadow-xl transition-shadow duration-200 rounded-3xl">
                <source src={video2} type="video/mp4" />
                Tu navegador no soporta la reproducción de videos.
              </video>
        </article>
    </section>
</section>